*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    text-decoration: none;
    min-height: 100vh;
}

header{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-container{
   flex: 1;
}

.logo{
    width: 10em;
    height: 7em;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    width: 100%;
}

header .navbar ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

header .navbar ul li{
    position: relative;
    float: left;
}

header .navbar ul li a{
    text-decoration: none;
    font-size: 20px;
    padding: 18px;
    color: #333;
    display: block;
    color: #45B6FE;
}

header .navbar ul li a:hover{
    background: #333;
    color: #fff;
}

header .navbar ul li ul{
    position: absolute;
    left: 0;
    width: 200px;
    background: #fff;
    display: none;
}

header .navbar ul li ul li{
    width: 100%;
    border-top: 1px solid rgba(0,0,0,0.1);
}

header .navbar ul li ul li ul{
    left: 200px;
    top: 0;
}

header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul {
    display: block;
}

#menu-bar{
    display: none;
}

header label{
    font-size: 20px;
    color: #333;
    cursor: pointer;
    display: none;
}

@media(max-width:991px){


    header{
        padding: 20px;
    }

    header label{
        display: block;
    }

    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #fff;
        border-top: 1px solid rgba(0,0,0,0.1);
        display: none;
    }

    header .navbar ul li{
        width: 100%;
    }

    header .navbar ul li ul{
        position: relative;
        width: 100%;
    }

    header .navbar ul li ul li{
        background: #eee;
    }

    header .navbar ul li ul li ul{
        width: 100%;
        left: 0;
    }

    #menu-bar:checked ~ .navbar{
        display: block;
    }

}

main ol{
    list-style: decimal;
    padding: 1em;
    margin: 1em;
}

article ul{
    list-style: none;
    padding: 1em;
    margin: 1em;
}

.brødtekst-forside {
    padding: 5em;
    padding-top: 34em;
    margin: 5em;
    margin-top: 1em;
    text-align: center;
}

.brødtekst {
    padding: 5em;
    padding-top: 1em;
    margin: 5em;
    margin-top: 1em;
}

h1{
    text-align: center;
    font-size: 2em;
    padding-bottom: 1.5em;
}

.h1-forside{
    padding-top: 1.5em;
    padding-bottom: 0.5em;
}

h3{
    font-size: 1.5em;
    padding-top: 1.5em;
    padding-bottom: 0.5em;
}

h4{
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

h6{
    font-size: 1.4em;
    padding-top: 1.5em;
    padding-bottom: 0.5em;
}

.carousel {
    display: flex;
    justify-content: center;
    margin-top: 26px;
}

.carousel-inner {
    position: absolute;
    overflow: hidden;
}

.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    position: absolute;
    width: 1100px;
    height: 550px; 
    max-width: 1200px; 
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.carousel-item img {
    display: block;
    height: auto;
    width: 100%;
}

.carousel-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.carousel-control.prev {
    left: 2%;
}

.carousel-control.next {
    right: 2%;
}

.carousel-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
    display: block;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
    color: #428bca;
}

div {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.6); /* Sort med gennemsigtighed */
    color: white;
    padding: 20px;
    width: 80%;
    height: 35%;
    text-align: center;
    border-radius: 10px;
}

h5{
    margin-bottom: 15px;
    font-size: 25px;
}

section p {
    margin: 10px 0;
    font-size: 20px;
}


.button {
    display: inline-block;
    padding: 7px 20px;
    background-color: #FFA900; /* Knappens farve */
    color: white;
    text-decoration: none;
    font-size: 14px;
    border-radius: 5px;
    margin-top: 15px;
}

.button:hover {
    background-color: #e19615; /* Hover-effekt på knappen */
}