*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    text-decoration: none;
    min-height: 100vh;
}

header{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    padding: 10px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar{
    width: 100%;
}

header .navbar ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

header .navbar ul li{
    position: relative;
    float: left;
}

header .navbar ul li a{
    text-decoration: none;
    font-size: 20px;
    padding: 18px;
    color: #333;
    display: block;
}

header .navbar ul li a:hover{
    background: #333;
    color: #fff;
}

header .navbar ul li ul{
    position: absolute;
    left: 0;
    width: 200px;
    background: #fff;
    display: none;
}

header .navbar ul li ul li{
    width: 100%;
    border-top: 1px solid rgba(0,0,0,0.1);
}

header .navbar ul li ul li ul{
    left: 200px;
    top: 0;
}

header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul {
    display: block;
}

#menu-bar{
    display: none;
}

header label{
    font-size: 20px;
    color: #333;
    cursor: pointer;
    display: none;
}

@media(max-width:991px){


    header{
        padding: 20px;
    }

    header label{
        display: block;
    }

    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #fff;
        border-top: 1px solid rgba(0,0,0,0.1);
        display: none;
    }

    header .navbar ul li{
        width: 100%;
    }

    header .navbar ul li ul{
        position: relative;
        width: 100%;
    }

    header .navbar ul li ul li{
        background: #eee;
    }

    header .navbar ul li ul li ul{
        width: 100%;
        left: 0;
    }

    #menu-bar:checked ~ .navbar{
        display: block;
    }

}

main ol{
    list-style: decimal;
    padding: 1em;
    margin: 1em;
}

.brødtekst {
    padding: 5em;
    padding-top: 1em;
    margin: 5em;
    margin-top: 1em;
}

.logo-container{
    padding-top: 1em;
    margin-top: 1em;
    display: flex;
    justify-content: center;
}

.logo{
    width: 17.5em;
    height: 12.5em;
}

h1{
    text-align: center;
    font-size: 2em;
    padding-bottom: 1.5em;
}

h3{
    font-size: 1.5em;
    padding-top: 1.5em;
    padding-bottom: 0.5em;
}

h4{
    padding-bottom: 0.5em;
}